# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [10]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [11]:
crime = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")
crime.sample(3)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
47,2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
39,1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
45,2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859

### Step 4. What is the type of the columns?

In [12]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [16]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')
crime.sample(3)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
3,1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
46,2006-01-01,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
9,1969-01-01,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

### Step 6. Set the Year column as the index of the dataframe

In [17]:
crime.set_index('Year',inplace = True)
crime.sample(3)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
2002-01-01,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2007-01-01,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
1996-01-01,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200

### Step 7. Delete the Total column

In [18]:
crime.drop('Total',axis = 1, inplace=True)
crime.sample(3)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1973-01-01,209851000,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1990-01-01,248709873,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1974-01-01,211392000,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [19]:
crime.index = pd.to_datetime(crime.index)

# Group by decades and sum the values
df_decades_sum = crime.groupby((crime.index.year // 10) * 10).agg({
    'Population': 'first',  # Take the first value of 'Population' within each decade
    'Violent': 'sum',
    'Property': 'sum',
    'Murder': 'sum',
    'Forcible_Rape': 'sum',
    'Robbery': 'sum',
    'Aggravated_assault': 'sum',
    'Burglary': 'sum',
    'Larceny_Theft': 'sum',
    'Vehicle_Theft': 'sum'
})
print(df_decades_sum)

      Population   Violent   Property  Murder  Forcible_Rape  Robbery  \
Year
1960   179323175   4134930   45160900  106180         236720  1633510
1970   203235298   9607930   91383800  192230         554570  4159020
1980   225349264  14074328  117048900  206439         865639  5383109
1990   248709873  17527048  119053499  211664         998827  5748930
2000   281421906  13968056  100944369  163068         922499  4230366
2010   309330219   6072017   44095950   72867         421059  1749809

      Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
Year
1960             2158520  13321100       26547700        5292100
1970             4702120  28486000       53157800        9739900
1980             7619130  33073494       72040253       11935411
1990            10568963  26750015       77679366       14624418
2000             8652124  21565176       67970291       11412834
2010             3764142  10125170       30401698        3569080

### Step 9. What is the most dangerous decade to live in the US?

In [21]:
crime.idxmax()      # the 90s

Population           2014-01-01
Violent              1992-01-01
Property             1991-01-01
Murder               1991-01-01
Forcible_Rape        1992-01-01
Robbery              1991-01-01
Aggravated_assault   1993-01-01
Burglary             1980-01-01
Larceny_Theft        1991-01-01
Vehicle_Theft        1991-01-01
Danger_Index         1993-01-01
dtype: datetime64[ns]

In [20]:
crime['Danger_Index'] = (
    crime['Violent'] +
    crime['Murder'] +
    crime['Aggravated_assault']
)

print(f"\nThe most dangerous decade to live in the US is: {crime['Danger_Index'].idxmax()}")

The most dangerous decade to live in the US is: 1993-01-01 00:00:00