# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [47]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [48]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [49]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [50]:
column_to_drop = ['Unnamed: 0','Id']
baby_names.drop(column_to_drop, axis=1, inplace=True)

In [51]:
baby_names.sample(3)

           Name  Year Gender State  Count
868445  Ariadna  2010      F    TX     29
401520  Braydin  2009      M    LA      6
910487   Jamaal  2013      M    TX      6

### Step 6. Is there more male or female names in the dataset?

In [52]:
baby_names["Gender"].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [69]:
x = baby_names.drop('Year', axis=1)

In [70]:
names = x.groupby('Name')

### Step 8. How many different names exist in the dataset?

In [71]:
len(baby_names['Name'].value_counts())

17632

### Step 9. What is the name with most occurrences?

In [75]:
max_occurrence_names = names[names['Count'] == names['Count'].max()]

print(max_occurrence_names)

KeyError: 'Columns not found: False'

### Step 10. How many different names have the least occurrences?

In [61]:
min_occurrence = baby_names['Name'].value_counts().min()

num_names_with_least_occurrences = sum(baby_names['Name'].value_counts() == min_occurrence)

print(f"There are {num_names_with_least_occurrences} different names with the least occurrences.")

There are 3682 different names with the least occurrences.

### Step 11. What is the median name occurrence?

In [62]:
median_occurrence = baby_names['Count'].median()
median_names = baby_names[baby_names['Count'] == median_occurrence]['Name'].unique()

print(f"The name(s) with the median occurrence is/are: {', '.join(median_names)}")

The name(s) with the median occurrence is/are: Makayla, Maria, Mary, Michelle, Alexandra, Andrea, Aubrey, Aurora, Autumn, Bethany, Jillian, Julia, Leilani, Lydia, Rylee, Sara, Serenity, Vanessa, Jenna, Layla, Naomi, Rebecca, Alana, Ashlyn, Cadence, Jada, Jocelyn, Josephine, Katie, Keira, Maya, Angelina, Arianna, Ashley, Erin, Gracie, Isabelle, Kaylee, Lilly, Mariah, Molly, Alexandria, Ariana, Audrey, Clara, Jade, Zoe, Brooke, Ellie, Mia, Victoria, Willow, Alaina, Aliyah, Destiny, Isla, Mckenzie, Alexis, Allison, Cora, Kayla, Kylie, Lyla, Madelyn, Penelope, Reagan, Stella, Aaliyah, Claire, Kendall, Paige, Quinn, Trinity, Alice, Aubree, Kennedy, River, Sarah, Sofia, Taylor, Adrian, Brayden, Gage, Kai, Lance, Mark, Nolan, Shane, Spencer, Steven, Avery, Carson, Devon, Dominic, Henry, Patrick, Preston, Ryder, Scott, Trenton, Ashton, Bryce, Garrett, Jaden, Wesley, Keegan, Brian, Ezekiel, Jesse, Jonah, Kaleb, Landen, Max, Sawyer, Shawn, Tristen, Colin, Eric, Jeremy, Kayden, Leo, Richard, Rylan, Xavier, Ayden, Bentley, Bradley, Johnathan, Julian, Kaiden, Lincoln, Nathaniel, Skyler, Travis, Vincent, Asher, Edward, Jake, Trevor, Alex, Camden, Cole, Everett, Kevin, Maxwell, Miles, Adam, Cayden, Ezra, Malachi, Marcus, Riley, Sean, Silas, Easton, Finn, George, Hudson, Ian, Jasper, Marshall, Orion, Timothy, Alissa, Amiyah, Brandy, Carolina, Carolyn, Cassie, Cecilia, Christian, Daniela, Dasia, Deanna, Delaney, Eleanor, Emory, Esmeralda, Eva, Halie, Jailyn, Jalyn, Kallie, Karley, Kasey, Liberty, Logan, Macey, Phoebe, Regan, Rosa, Shannon, Taniyah, Tiana, Tiara, Annie, Britney, Camilla, Casey, Charity, Elise, Gianna, Hadley, Halle, Isabel, Jameria, Kailee, Karli, Kinley, Lola, Mckayla, Meghan, Mikalah, Miriam, Shamya, Tatum, Tessa, Ada, Addie, Ann, Bianca, Cassandra, Caylee, Dana, Destinee, Destini, Eden, Jaiden, Kaitlynn, Kaydence, Kaylen, Kaylyn, Kiera, Kiersten, Kiley, Kristen, Maddison, Nancy, Natalia, Patience, Samiya, Shayla, Tia, Wendy, Yasmin, Abbigail, Akira, Alanna, Alina, Ally, Ayana, Ayla, Brenda, Brittney, Bryanna, Cali, Charlee, Dallas, Deja, Gracelyn, Hallie, Hayleigh, Holly, Jaelyn, Juana, Kaliyah, Karma, Kenadie, Kyndall, Maci, Makaila, Marianna, Meagan, Shania, Sienna, Tamara, Tiffany, Zaniyah, Alison, Anaya, Ashlee, Ashleigh, Campbell, Cynthia, Danica, Dulce, Elisabeth, Heather, Jamiah, Karmen, Kira, Lindsay, Madeleine, Madelynn, Makiya, Maleah, Martha, Patricia, Ryan, Taliyah, Teagan, Violet, Whitney, Zariyah, Adelyn, Ali, Alyson, April, Arabella, Braylee, Camryn, Cara, Crimson, Eliza, Hanna, Kamiya, Karina, Kaylin, Keyonna, Kiara, Kristina, Kyndal, Lorelei, Mariana, Mckenna, Meredith, Ruth, Shaniya, Valerie, Zaniya, Zaria, Adyson, Amanda, Anabelle, Bristol, Carleigh, Charlie, Chyna, Ciara, Elaina, Erika, Farrah, Finley, Iris, Jamiya, Justice, Kate, Kirsten, Lexie, Marilyn, Mattie, Nyla, Parker, Rebekah, Rihanna, Rose, Valeria, Abbie, Alexia, Amari, Claudia, Emilee, Imani, Jacey, Jaida, Jamie, Jamya, Jaylee, Kaelyn, Kenley, Kyra, Malia, Melissa, Mila, Miley, Miranda, Nia, Rayleigh, Rylie, Savanna, Taraji, Tenley, Yaretzi, Aleah, Amani, Arielle, Azaria, Cameron, Elena, Eloise, Helen, Joy, Kamari, Kaylie, Kendra, Kinleigh, Madilynn, Madyson, Makiyah, Paislee, Phoenix, Raelynn, Rosalie, Sandra, Stephanie, Talia, Adelaide, Briella, Charley, Charli, Daisy, Fallon, Heaven, Hope, Jaycie, Jessie, Julie, Juliet, Kaleigh, Kimora, Kyla, Rileigh, Scarlet, Selah, Vera, Zuri, Annabella, Anniston, Anslee, Ariyah, Aspen, Azariah, Blakelyn, Briana, Brittany, Collins, Daleyza, Elsie, Erica, Frances, Jaylynn, Jazlyn, Journi, Kailey, Lailah, Madalynn, Mallie, Megan, Michaela, Millie, Mollie, Sierra, Whitley, Zion, Ahmad, Alec, Caiden, Demarcus, Deshawn, Dillan, Enrique, Grady, Greyson, Harley, Heath, Israel, Jamar, Jarrett, Javier, Jayson, Kamron, Keondre, Liam, Marlon, Pedro, Rashad, Ricardo, Shaun, Warren, Weston, Arthur, Asa, Billy, Braydon, Brenden, Byron, Devan, Dominick, Erick, Fernando, Graham, Ivan, Jacorey, Jude, Keshawn, Kolby, Micheal, Nathanael, Rafael, Roger, Ronnie, Albert, Atticus, Braylen, Brendon, Brent, Cortez, Damarion, Damion, Desmond, Dewayne, Frederick, Fredrick, Jacoby, Jaydon, Lawrence, Layton, Lukas, Nickolas, Peter, Philip, Randy, Ray, Ruben, Titus, Toby, Tommy, Tyree, Xzavier, Baylor, Beau, Blaine, Brannon, Brett, Darion, Gerardo, Gustavo, Hayes, Jarvis, Karson, Kendarius, Kristopher, Ladarius, Leonardo, Paxton, Quincy, Terrell, Turner, Abraham, Aydan, Clarence, Clinton, Colt, Dennis, Emerson, Jadarius, Jameson, Javon, Jaylan, Keon, Lewis, Martin, Mekhi, Nigel, Quentin, Roderick, Rodrigo, Tate, Tristian, Zayden, Casen, Demarion, Dorian, Douglas, Drew, Houston, Kemarion, Kylan, Manuel, Messiah, Omari, Reese, Sam, Santiago, Sergio, Tony, Zavion, Alijah, Clark, Cruz, Erik, Jamison, Jax, Jayce, Kamarion, Karsen, Keaton, Marvin, Miller, Morgan, Orlando, Prince, Ricky, Talon, Andy, Bobby, Branson, Brayan, Brayson, Brentley, Colten, Cornelius, Declan, Dillon, Frank, Gideon, Harper, Issac, Jadon, Jakobe, Jeffery, Josue, Keith, Kellen, Kelton, Knox, Marquis, Mitchell, Reece, Rodney, Russell, Skylar, Terry, Tristin, Wilson, Carmelo, Cristian, Darius, Elliot, Fisher, Hampton, Jagger, Jay, Jermaine, Johan, Kasen, Kelvin, Kristian, Maurice, Payton, Princeton, Quinton, Reed, Zachariah, Abram, Andres, Bo, Brock, Cory, Donovan, Jakob, Mack, Maverick, Maximus, Nehemiah, Oscar, Randall, Romeo, Simon, Trace, Andre, Brennan, Bruce, Cayson, Davion, Davis, Deandre, Franklin, Gary, Jalen, Kade, Kaison, Kyson, Legend, Malik, Oakley, Omar, Terrance, Trent, Zechariah, Alayna, Carley, Celeste, Gabriela, Janiya, Katlyn, Kenzie, Kyleigh, Lauryn, Micah, Raegan, Veronica, Angelica, Hailee, Jacqueline, Lexi, Zoie, Adison, Camille, Dixie, Jasmin, Jazmine, Joanna, Juliana, Kennedi, Makenna, Natalee, Selena, Sherlyn, Alondra, Aniyah, Caitlin, Cheyanne, Jakayla, Kelly, Lainey, Laken, Lila, Paisley, Ariel, Janiyah, Joselyn, Vivian, Adrianna, Ainsley, Alejandra, Briley, Carlee, Christina, Diamond, Diana, Giselle, Harmony, Hattie, Jamiyah, Jimena, Journey, Julianna, Karen, Laney, Miracle, Nicole, Allyson, Amber, Asia, Delilah, Gracelynn, Jayda, Kaylynn, Liliana, Mikayla, Sasha, Aria, Chelsea, Jaycee, Journee, Kara, Margaret, Tinley, Adelynn, Athena, Brynn, Carly, Carmen, Heidi, Jordan, Kali, Kamryn, Karsyn, Kelsey, Addilyn, Angela, Brielle, Bryleigh, Catherine, Dakota, Danielle, Esther, Hadleigh, June, Kimberly, Leslie, Melody, Saylor, Tinsley, Ximena, Adeline, Ana, Arya, Caitlyn, Elliott, Emmalyn, Izabella, Karlee, Kensley, Kimber, Curtis, Edgar, Jeffrey, Jonathon, Waylon, Braeden, Julio, Melvin, Oliver, Pablo, Raymond, Roberto, Troy, Zachery, Zackery, Darren, Griffin, Javion, Jon, Leland, Omarion, Tyson, Allen, Braiden, Damien, Donald, Elias, Francisco, Gregory, Jase, Johnathon, Phillip, Trey, Bradyn, Bryant, Dayton, Edwin, Harrison, Jaquan, Lawson, Layne, Ronald, Brodie, Emmanuel, Pierce, Reid, Triston, Beckett, Clay, Dustin, Jaxton, Jaylon, Judah, Zayne, Jorge, Karter, Larry, Mateo, Paul, Walker, Zaiden, Bently, Calvin, Danny, Emanuel, Gauge, Landyn, August, Bentlee, Cade, Cesar, Channing, Dean, Gael, Joel, Deacon, Hank, Kayson, Stephen, Aisha, Alia, Anne, Arlene, Arleth, Ayanna, Beatriz, Brissa, Cecelia, Charlize, Daphne, Donna, Irene, Kayley, Laci, Liana, Mariela, Myah, Noelia, Noelle, Nora, Rachael, Theresa, Unique, Viridiana, Xitlali, Yamilet, Ailyn, Aiyana, Amara, Aryana, Ayleen, Brianda, Briseida, Celina, Dafne, Elissa, Elyse, Ericka, Francesca, Geraldine, Haleigh, Haven, Hayley, Isis, Jewel, Macie, Maricela, Mireya, Norma, Priscila, Rayna, Reina, Shyanne, Silvia, Vianey, Yuridia, Aimee, Annette, Cierra, Fabiola, Galilea, Gina, Gladys, Jaedyn, Jayleen, Jenifer, Joslyn, Kaila, Kairi, Kaley, Karely, Leyla, Lillianna, Lillie, Lupita, Magdalena, Mara, Micaela, Mikaela, Naima, Nathalie, Neveah, Nizhoni, Nuvia, Precious, Raven, Romina, Rosalinda, Salma, Selene, Sylvia, Tabitha, Toni, Yoselyn, Aniya, Baylee, Breana, Brylee, Citlaly, Deborah, Ember, Ireland, Jaelynn, Jane, Jaquelin, Jaylene, Jocelynn, Jolie, Jordin, Jordynn, Kaiya, Karly, Kelsie, Lucero, Madalyn, Natali, Rowan, Stacy, Sydnee, Tayler, Tyra, Valery, Yarely, Abbey, Alani, Alexus, Alyna, Amelie, Amya, Analia, Annabel, Aracely, Ariadna, Bridget, Briseyda, Carina, Cherish, Cienna, Citlali, Dahlia, Estefania, Hadassah, Haylie, Jayde, Jazleen, Josie, Lilith, Lillyanna, Marisa, Marlie, Saige, Sidney, Soraya, Violeta, Virginia, Zuleyka, Adrienne, Aliah, Alisha, Anessa, Bailee, Dariana, Emilie, Emmy, Eve, Evelynn, Giada, Gisselle, Italia, Janae, Jazmyn, Kaitlin, Kendal, Kenia, Lacey, Leilah, Makena, Montserrat, Nathaly, Paula, Renata, Rosario, Thalia, Yasmine, Zariah, Abrielle, Adamari, Amira, Aubrie, Dylan, Heidy, Iliana, Jaylyn, Judith, Karissa, Kaya, Lindsey, Lylah, Lyric, Mariajose, Meadow, Miah, Notnamed, Sarina, Scarlette, Aiyanna, Alianna, Anabella, Antonella, Calista, Carla, Colette, Emmalee, Frida, Giovanna, Graciela, Grecia, Jacquelyn, Kenya, Keyla, Madisyn, Marlee, Marlene, Raquel, Rhiannon, Sarahi, Siena, Vivianna, Yazmin, Abigale, Abrianna, Adilene, Alena, Aubrielle, Barbara, Belen, Dominique, Giana, Isabell, Jazzlyn, Leighton, Mae, Marian, Mina, Monique, Paris, Ryann, Samara, Simone, Sloane, Zara, Addisyn, Aleena, Amiah, Anika, Anissa, Arely, Ari, Aryanna, Aurelia, Beatrice, Dalilah, Emely, Lea, Lilyanna, Maia, Maryjane, Mercedes, Natalya, Tegan, Yesenia, Angie, Annalee, Davina, Desiree, Everleigh, Holland, Kailyn, Kayleen, Kiana, Lesly, Luz, Mabel, Malaysia, Marie, Paulette, Pearl, Serena, Winter, Yuliana, Cristobal, Cristopher, Draven, Dylon, Elian, Gunner, Irving, Jaxson, Jerome, Kendrick, Kieran, Kody, Kole, Rolando, Adrien, Alexandro, Aron, Bennett, Braxton, Chandler, Freddy, Gunnar, Heriberto, Jahir, Jairo, Kyan, Mariano, Oswaldo, Solomon, Tomas, Tylor, Alessandro, Alexzander, Amir, Augustine, Bruno, Brycen, Guadalupe, Malakai, Malaki, Marcelo, Myles, Nathanial, Quintin, Rey, Reynaldo, Ryker, Ahmed, Ammon, Arjun, Armani, Aryan, Boston, Carlo, Dalton, Eliseo, Ibrahim, Josh, Julien, Keagan, Kellan, Matteo, Osmar, Reyes, Rudy, Tobias, Yurem, Cannon, Chad, Dario, Jovanny, Jovany, Justus, Kale, Kenny, Nixon, Steve, Wade, Brigham, Dax, Dexter, Giancarlo, Jerry, Jovani, Killian, Ramiro, Rodolfo, Rogelio, Beckham, Corey, Elisha, Gianni, Giovani, Humberto, Izayah, Jaxen, Jaziel, Kobe, Marc, Ramses, Slade, Sonny, Alvaro, Aydenn, Callen, Cason, Dane, Joe, Kameron, Kane, Maximo, Rocco, Rowen, Royce, Arian, Cain, Conor, Davian, Deegan, Efrain, Ellis, Enzo, Finnegan, Irvin, Isai, Jasiah, Karim, Luka, Markus, Moses, Nelson, Walter, Cohen, Cyrus, Demetrius, Duke, Gilberto, Jair, Jensen, Joey, Mikah, Nash, Neymar, Nikolai, Rhett, Vicente, Yael, Agustin, Arlo, Atlas, Cassius, Conrad, Cristiano, Dawson, Enoch, Hendrix, Junior, Lennox, Lionel, Lucian, Madden, Samson, Santino, Aarushi, Agnes, Aishwarya, Alaya, Alba, Aleeza, Amairany, Amayah, Ameera, Ameerah, Amirah, Anabell, Analiese, Anjelina, Ariane, Athziri, Aura, Aviana, Baylie, Betsaida, Brea, Bree, Breeanna, Breonna, Brinley, Candelaria, Cathryn, Chana, Daira, Dani, Dayrin, Denae, Elli, Emili, Emmi, Esme, Evangeline, Freya, Gimena, Glenda, Harlie, Isadora, Jael, Jamila, Janai, Jaya, Jayline, Jazlin, Jersey, Joleen, Jose, Jubilee, Judit, Juliza, Kacy, Kalie, Kareena, Kaylei, Keiry, Kelsea, Khloe, Kiani, Kiran, Kyley, Lacie, Larisa, Leela, Libby, Linette, Lizzet, Macayla, Madelin, Maiya, Makala, Mandi, Maricarmen, Marta, Maryanne, Marylin, Maryssa, Medha, Meilani, Mel, Melenie, Merissa, Mitzy, Miyah, Muskaan, Naiya, Navya, Nidhi, Niya, Niyah, Noemy, Nour, Octavia, Rian, Rio, Risa, Ryanne, Saanvi, Sakura, Samya, Samyra, Sandi, Sapphire, Serene, Shaelyn, Shanelle, Shoshana, Starla, Tayla, Tea, Triniti, Tru, Venus, Yelitza, Aaniyah, Alessa, Alida, Aline, Aminah, Analee, Anali, Analicia, Angelyna, Annabell, Arianne, Ariatna, Ariya, Audra, Avelina, Bibiana, Breeana, Brieanna, Caelyn, Cesia, Cosette, Darby, Darleen, Darya, Dasha, Desire, Deyanira, Elsy, Elysia, Emalie, Emilly, Emme, Evette, Francisca, Gardenia, Getsemani, Gisella, Harmonie, Henna, Itzia, Jaimie, Janell, Jemma, Joan, Jodi, Josalyn, Joscelyn, Joselyne, Kalena, Kalista, Kamea, Kaniya, Karizma, Kay, Kaylene, Keana, Kelsy, Kimberlyn, Laurie, Lilibeth, Lisseth, Liz, Lovely, Luca, Lucinda, Madelaine, Maite, Marcelina, Margaux, Marifer, Meena, Melonie, Michell, Mimi, Moira, Moncerrat, Naya, Neela, Nidia, Niki, Nola, Nyssa, Olive, Parris, Polina, Poppy, Prisha, Rayven, Rhiana, Rubie, Salem, Salina, Sammantha, Sanya, Shae, Shakira, Shanna, Sherlin, Shriya, Simona, Sneha, Sol, Susie, Sydni, Tallulah, Talya, Taytum, Viktoria, Winnie, Yaretzy, Yeimi, Yulianna, Yuvia, Abriana, Adamariz, Adylene, Ailin, Airam, Aleesha, Aleyda, Aleyna, Alyssamarie, Amaia, Ami, Anayah, Anela, Aniela, Ankita, Annalie, Anoushka, Aolani, Araya, Arieanna, Arlet, Asma, Aubry, Audree, Aylen, Billie, Bria, Brookelyn, Celene, Chevelle, Clarice, Daiana, Darlin, Destinie, Donya, Emeli, Emiko, Emiliana, Emmely, Eriana, Esbeidy, Estrellita, Evelina, Francheska, Genavieve, Giavanna, Gissele, Grayson, Gurleen, Ileen, Ilianna, Ishika, Janett, Janine, Jeannette, Jennessa, Jenni, Julietta, Kaelin, Kalissa, Katerine, Kathya, Kattie, Kemberly, Keyra, Kiyomi, Lacy, Leana, Leidy, Lilit, Lynda, Maisie, Makyla, Marcia, Mariaelena, Matilde, Mattea, Mercedez, Midori, Milly, Mirella, Myriam, Naidelyn, Nicolle, Ninel, Nubia, Opal, Penny, Persephone, Pia, Riana, Roberta, Roshni, Rosselyn, Saba, Sade, Saraya, Savina, Scout, Shanti, Sharlyn, Shylah, Skylee, Stacie, Tatiyana, Thania, Trinidad, Wendi, Yahira, Yamila, Zadie, Zaida, Zitlaly, Zofia, Zury, Alanis, Aleyah, Alinna, Ammy, Amrita, Andi, Ariadne, Arriana, Bayley, Bobbi, Brihanna, Cailey, Calli, Carli, Chanelle, Chantelle, Chase, Clarisse, Coco, Constance, Dallana, Danyelle, Deena, Delanie, Dyana, Eimy, Ela, Elayna, Elinor, Elora, Emelin, Eternity, Genevie, Hasini, Havana, Ilse, Isa, Izabela, Jacinda, Jahzara, Jaime, Jaina, Janel, Jelena, Jiya, Jocelynne, Jody, Joely, Joslynn, Joycelyn, Julieana, Julienne, Katherin, Kaylina, Keeley, Keilly, Keona, Kiya, Laela, Laylani, Leylani, Liani, Lillyan, Lizania, Lois, Malani, Maliya, Mariaguadalupe, Mariya, Marleny, Maryah, Mayleen, Mckinley, Meah, Merari, Nailea, Quetzalli, Raelyn, Raine, Reilly, Rena, Romy, Rosalind, Samari, Sanah, Sequoia, Shantal, Shelley, Siomara, Sonja, Susannah, Tamar, Varsha, Xenia, Yakelin, Yelena, Ysabel, Yudith, Yumalay, Zoee, Zyanya, Aila, Alinah, Alyvia, Amilia, Anahit, Analiz, Angelene, Angelli, Ania, Anja, Arionna, Berlyn, Bertha, Betzaida, Bryn, Camdyn, Cecily, Celest, Chelsie, Christie, Ciera, Colleen, Cordelia, Dalyla, Debbie, Delany, Della, Elana, Ellery, Elly, Elodie, Elva, Emeraude, Emerie, Emmalina, Estelle, Evy, Harmoni, Holley, Hollie, Huda, Illiana, Imogen, Inara, Isaura, Ivanka, Izabell, Izzabella, Jacquelyne, Jahaira, Jailah, Jannah, Jaselle, Jaslyne, Jasmyne, Jazzlynn, Jessenia, Jia, Joi, Jorden, Jorja, Jules, Kamilla, Kamya, Kaori, Keanna, Kenadi, Lani, Liah, Lizett, Maddie, Mahika, Malea, Maribella, Marilynn, Marion, Maryn, Meliza, Miabella, Mikaila, Minnie, Monzerrat, Nakayla, Nariah, Natally, Nila, Nyomi, Rae, Rain, Rayann, Rayne, Richelle, Rosalina, Roslyn, Seanna, Sedona, Shaylynn, Siri, Sunshine, Suraya, Symphony, Tahlia, Taya, Treasure, Veda, Yenifer, Yoanna, Aaralyn, Adaline, Ailene, Akshara, Allysson, Alona, Alysa, Amyah, Anastacia, Angelena, Annasophia, Ashlin, Aubri, Austyn, Avalyn, Ayumi, Bernadette, Blessing, Brissia, Brittanya, Calliope, Ciana, Dayla, Eesha, Emmerson, Emmie, Emmily, Enya, Evalina, Fatimah, Fayth, Gaby, Ilyana, Irelynn, Isobel, Jadelyn, Jalynn, Jaretzy, Jayleene, Jennah, Jessika, Justina, Kadyn, Kalei, Kameryn, Katheryne, Kaydee, Keilah, Kellie, Kelsi, Kendyl, Khadija, Khalia, Klara, Leigha, Lela, Lili, Lulu, Lyndsey, Mai, Maisy, Malinda, Maribelle, Marjorie, Marli, Mazzy, Melodie, Michele, Monika, Nala, Nayelly, Neida, Nikole, Nishka, Noel, Rina, Sailor, Seleste, Shianne, Sianna, Symone, Tanisha, Temperance, Terra, Vallerie, Yocelin, Zaara, Zahira, Zaniah, Zarah, Acacia, Adina, Ailey, Aleeah, Alexie, Alexsandra, Alycia, Alynna, Amariah, Anay, Anyssa, Arianah, Aries, Arisbeth, Arissa, Ashanti, Ashely, Ashleen, Atziri, Ayda, Ayelen, Bobbie, Brandi, Breanne, Briceida, Brooklynne, Cameryn, Celena, Christal, Cloe, Dezirae, Eloisa, Elvia, Elvira, Emersyn, Emmeline, Evany, Georgiana, Graciella, Guiliana, Hartley, Hellen, Hilda, Honor, Isabellamarie, Jackelin, Jaila, Jalaya, Janna, Jarely, Jaydee, Jayne, Jessalyn, Jolina, Jozlyn, Kacie, Kaeli, Kamiyah, Katelin, Khloie, Kimberlee, Laniya, Laylanie, Leeanna, Leen, Leiana, Leora, Leyah, Liyah, Lyanna, Maily, Maliha, Marlena, Maura, Maylee, Melanee, Melanny, Meleny, Mirabelle, Monserrath, Naomie, Naveah, Neriah, Niah, Nico, Novalee, Ocean, Ophelia, Rayanna, Reem, Rilee, Rishika, Rosabella, Roselynn, Roya, Ryley, Sabella, Samia, Sanjana, Shelly, Sherry, Sia, Sincere, Skylah, Vanity, Veronika, Yunuen, Zariya, Aadya, Abbigale, Abigayle, Adalia, Adara, Aliannah, Alysha, Amarie, Ambar, Anai, Analeigh, Analiyah, Angelia, Annaleah, Annalia, Aolanis, Arwen, Avarie, Ayari, Berkeley, Brighton, Brithany, Caylie, Charlette, Chelsy, Cheryl, Consuelo, Divine, Ellia, Emeline, Heavenly, Ianna, Ida, Indiana, Jailynn, Jaylinn, Jazmyne, Jenevieve, Jennie, Jesslyn, Joann, Joselynn, Julyssa, Kaira, Kamyla, Keely, Keilana, Khloee, Krystel, Lilli, Mackenna, Madelyne, Marguerite, Marlo, Marwa, Maycee, Melony, Melyssa, Metzli, Mikaella, Mileena, Mileydi, Mindy, Peighton, Portia, Raylynn, Reya, Rilyn, Ryah, Sanaya, Sania, Sarahy, Shyann, Siara, Sophya, Starr, Tala, Tammy, Thea, Vivianne, Zulema, Abriella, Adalee, Akari, Alora, Amora, Anamaria, Anevay, Anisha, Aranza, Ayah, Ayesha, Beautiful, Betzy, Beyonce, Bridgett, Britany, Calie, Callista, Candace, Charis, Christa, Collette, Daliah, Dara, Darina, Dayna, Deisy, Delila, Dina, Emalee, Eowyn, Florence, Gianella, Gigi, Gisell, Gretchen, Harnoor, Haydee, Ilana, Iman, Ira, Iyla, Jalissa, Janney, Johannah, Juanita, Juliett, Kaela, Kaiah, Katheryn, Kitzia, Kyrie, Leiah, Lesli, Leslye, Magdalene, Makaela, Marin, Marla, Mihika, Millicent, Ofelia, Olyvia, Pricila, Queenie, Remington, Rochelle, Rosalia, Rylin, Sama, Saydee, Shaina, Shana, Simran, Taelynn, Tatianna, Tatyana, Taylin, Ursula, Vaishnavi, Vanya, Vittoria, Yumi, Yuri, Zella, Ziva, Aaleyah, Addalyn, Aleigha, Alizay, Alyana, Alyse, Amor, Ara, Arina, Ariyanna, Asiya, Aveline, Aven, Avigail, Azaleah, Brook, Calla, Carsyn, Casandra, Catarina, Chantal, Darlyn, Eliyah, Emaan, Emmah, Emmalynn, Everlee, Everley, Gracyn, Haily, Ily, Inaya, Irlanda, Italy, Iyana, Iyanna, Jaleah, Jannat, Japji, Jeannie, Jocelin, Joceline, Josephina, Kaleia, Kennia, Kensie, Keziah, Khadijah, Kinsey, Krisha, Lamar, Lilyan, Malak, Marbella, Mariella, Marisela, Mildred, Minerva, Naia, Nirvana, Noella, Odette, Orianna, Rachelle, Rayah, Reet, Rosalynn, Royal, Savana, Siyona, Sofi, Solange, Suzette, Taniya, Violetta, Yohana, Zayla, Aahana, Aaliya, Addelyn, Aime, Ainara, Aleksandra, Alyah, Amarah, Angelic, Angely, Bernice, Bethel, Bianka, Brie, Caleigh, Calissa, Caliyah, Carmela, Carmella, Colbie, Daenerys, Daila, Danya, Debora, Echo, Edie, Eris, Essence, Freyja, Gillian, Giulianna, Grettel, Hafsa, Inessa, Iona, Ishani, Jacklyn, Jacquelin, Jill, Kaci, Kenzi, Lavinia, Makaylah, Maricruz, Martina, Maureen, Misha, Nava, Neve, Oona, Pauline, Pilar, Romi, Rosalee, Rosy, Serina, Siya, Theodora, Vada, Violett, Ysabella, Zaylah, Ab, Abhay, Adriano, Adryan, Amado, Amare, Anmol, Arion, Armen, Athan, Ayaan, Bishop, Bradford, Bradly, Bryon, Cecil, Chaz, Cy, Darrion, Denis, Dino, Earl, Elder, Eliel, Elio, Erasmo, Froylan, Gerard, Harman, Haydn, Henri, Ilan, Isreal, Issa, Jadyn, Jarod, Jaydan, Jaysen, Jeanpierre, Jerardo, Jeremias, Jerimiah, Juliocesar, Justyn, Juventino, Keyshawn, King, Koby, Kristofer, Kush, Lachlan, Luigi, Makaio, Maksim, Marcanthony, Mateen, Maximilliano, Michel, Montgomery, Naim, Natan, Natanael, Nate, Neftali, Osiris, Parth, Rami, Remi, Rony, Salvatore, Shiv, Sohan, Ted, Tino

### Step 12. What is the standard deviation of names?

In [63]:
std_deviation_names = baby_names['Count'].std()
print(f"The standard deviation of name occurrences is: {std_deviation_names}")

The standard deviation of name occurrences is: 97.39734648625934

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [64]:
names.describe()

          Year                                                           \
         count         mean       std     min      25%     50%      75%
Name
Aaban      2.0  2013.500000  0.707107  2013.0  2013.25  2013.5  2013.75
Aadan      4.0  2009.750000  2.872281  2008.0  2008.00  2008.5  2010.25
Aadarsh    1.0  2009.000000       NaN  2009.0  2009.00  2009.0  2009.00
Aaden    196.0  2010.015306  2.044322  2005.0  2008.00  2010.0  2011.00
Aadhav     1.0  2014.000000       NaN  2014.0  2014.00  2014.0  2014.00
...        ...          ...       ...     ...      ...     ...      ...
Zyra       7.0  2012.142857  2.115701  2008.0  2011.50  2013.0  2013.50
Zyrah      2.0  2012.000000  1.414214  2011.0  2011.50  2012.0  2012.50
Zyren      1.0  2013.000000       NaN  2013.0  2013.00  2013.0  2013.00
Zyria     10.0  2008.900000  2.685351  2005.0  2007.25  2008.0  2010.50
Zyriah     9.0  2009.666667  2.915476  2006.0  2007.00  2009.0  2012.00

                 Count
            max  count       mean        std  min   25%   50%    75%    max
Name
Aaban    2014.0    2.0   6.000000   0.000000  6.0  6.00   6.0   6.00    6.0
Aadan    2014.0    4.0   5.750000   0.957427  5.0  5.00   5.5   6.25    7.0
Aadarsh  2009.0    1.0   5.000000        NaN  5.0  5.00   5.0   5.00    5.0
Aaden    2014.0  196.0  17.479592  21.154974  5.0  6.00  10.0  20.00  158.0
Aadhav   2014.0    1.0   6.000000        NaN  6.0  6.00   6.0   6.00    6.0
...         ...    ...        ...        ...  ...   ...   ...    ...    ...
Zyra     2014.0    7.0   6.000000   1.154701  5.0  5.00   6.0   6.50    8.0
Zyrah    2013.0    2.0   5.500000   0.707107  5.0  5.25   5.5   5.75    6.0
Zyren    2013.0    1.0   6.000000        NaN  6.0  6.00   6.0   6.00    6.0
Zyria    2014.0   10.0   5.900000   0.737865  5.0  5.25   6.0   6.00    7.0
Zyriah   2014.0    9.0   6.444444   1.666667  5.0  5.00   6.0   7.00   10.0

[17632 rows x 16 columns]