# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = pd.DataFrame({
    'evolution' : ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp' : [45,39,44,45],
    'name' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex' : ['yes', 'no', 'yes', 'no'],
    'type' : ['grass', 'fire', 'water', 'bug']
})

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
pokemon['place'] = np.random.randint(1, 10, size=len(pokemon))
pokemon

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_17428\3486989346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = np.random.randint(1, 10, size=len(pokemon))

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes      2
1  Charmander   fire  39  Charmeleon      no      6
2    Squirtle  water  44   Wartortle     yes      9
3    Caterpie    bug  45     Metapod      no      7

### Step 6. Present the type of each column

In [10]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object