**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
str = input("Enter the string :")
count = 0

for char in range(len(str)):
  count +=1
print("The length of the list : ",count)

Enter the number of the element of the list :Ahmed Essam
The length of the list :  11

In [ ]:
str = input("Enter the string :")

print("The length of the list : ",len(str))

Enter the number of the element of the list :Ahmed Essam
The length of the list :  11

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
str = input("Enter the string :")

if len(str) < 2:
  print("")
else:
  print(str[0:2]+str[-2::])

Enter the number of the element of the list :W3
W3W3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
str = input("Enter the string :")

if len(str) < 3:
  print(str)
elif str[-3::] == "ing":
  print(str+"ly")
else:
  print(str+"ing")

Enter the string :aaing
aaingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
N = int(input("Enter the number of the element of the list :"))
X=[]

for i in range(N):
  E = input("Enter the element of the list : ")
  X.append(E)
  longest_Word = 0

  for word in X:
    if len(word) > longest_Word:
      longest_w = word
      longest_Word = len(word)

print(f"The longest Word is : {longest_w} and its length is : {longest_Word}")

Enter the number of the element of the list :5
Enter the element of the list : Ahmed Essam
Enter the element of the list : Amir
Enter the element of the list : Moaz amin
Enter the element of the list : Abdelrahman farag
Enter the element of the list : Almoatasem Mohamed
The longest Word is : Almoatasem Mohamed and its length is : 18

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
str = input("Enter the string : ")
if len(str) <= 1:
  print(str)
else:
  print(str[-1]+str[1:-1]+str[0])

Enter the string : dhmeA
Ahmed

In [ ]:
str = input("Enter the string : ")
if len(str) <= 1:
  print(str)

x = list(str)
c=x[0]
x[0]=x[-1]
x[-1]=c

res= "".join(x)

print(res)

Enter the string : dhmeA
Ahmed

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
str = input("Enter the string : ")
res = ""

for char in range(len(str)):
    if char %2 == 0:

        res += str[char]
print(res)

Enter the string : asdfgh
adg

In [ ]:
str = input("Enter the string : ")
res = ""
for index, char in enumerate(str):
    if index % 2 == 0:
        res += char

print("Result : ", res)

Enter the string : asdfgh
Result :  adg

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
str = input("Enter the string : ")
x = str.split()
c = 0

for i in range(len(x)):
    count = 0
    for j in range(len(x)):
        if x[i] == x[j]:
            count += 1
        if count > c:
            c = count
    print(f"count of The {x[i]} word : ", count)
print()
print("the maximum word is : ",c)

Enter the string : amr and ahmed are frindes but amr is the tallest
count of The amr word :  2
count of The and word :  1
count of The ahmed word :  1
count of The are word :  1
count of The frindes word :  1
count of The but word :  1
count of The amr word :  2
count of The is word :  1
count of The the word :  1
count of The tallest word :  1

the maximum word is :  2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
str = input("Enter the string : ")

print("the upper of the string : ",str.upper())

print("the lower of the string : ",str.lower())

Enter the string : AHmed
the upper of the string :  AHMED
the lower of the string :  ahmed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
str = input("Enter the string : ")

if len(str) %4 == 0:
  print(str[::-1])
else:
  print(str)

Enter the string : AboEssam
massEobA

**10- Write a Python program to remove a newline in Python

In [ ]:
str =("Messi is \nthe history")
print(str.replace("\n",""))

Messi is the history

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
str = input("Enter the string : ")
char = input("Enter the characters+ : ")

if str[:len(char)] == char:
  print("The string starts with a specified characters. ")
else:
    print("The string doesnt starts with a specified characters. ")

Enter the string : Ahmed
Enter the characters+ : As
The string doesnt starts with a specified characters.

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
str =("Messi is \nthe history \nof football")
pre_str=input("Enter the prefix text :")
for x in range(len(str)):
  if str[x] == "\n":
    str=str[:x+1]+pre_str+str[x+1::]

print(pre_str+str)

Enter the prefix text :AA
AA Messi is
AA the history
AA of football

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
number = 3.3449456

rounded_number = round(number, 2)
print("Number up to two decimal places:", rounded_number)

Number up to two decimal places: 3.34

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
number = float(input("Enter the number : "))
r = round(number, 2)
if r > 0:
  print(f"The number is +{r}")
else:
  print(f"The number is {r}")

Enter the number : -123.1259
The number is -123.13

**15-Write a Python program to display a number with a comma separator

In [ ]:
number = int(input("Enter the number : "))

print(f"{number:,d}")

Enter the number : 123456789
123,456,789

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
str = input("Enter the string : ")
x=list(reversed(str))
c="".join(x)
print(c)

Enter the string : jhgf
fghj

In [ ]:
str = input("Enter the string : ")
print(str[::-1])

Enter the string : sdfghjdrfty
ytfrdjhgfds

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
str = input("Enter the string : ")
str = str.lower()
repeated_characters = {}

for i in str:
  if i in repeated_characters:
    repeated_characters[i] +=1
  else:
    repeated_characters[i] =1

print(repeated_characters)

Enter the string : Ahmed Essama
{'a': 3, 'h': 1, 'm': 2, 'e': 2, 'd': 1, ' ': 1, 's': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
str = input("Enter the string : ")
str = str.lower()
repeated_characters = {}

for i in str:
  if i in repeated_characters:
    repeated_characters[i] +=1
  else:
    repeated_characters[i] =1

for kay,Value in repeated_characters.items():
  if Value == 1:
    f = 1
    break
if f == 1:
  print("the non-repeated character is : ",kay)

Enter the string : Ahmed Essama
the non-repeated character is :  h

**19-Write a Python program to remove spaces from a given string

In [ ]:
str = input("Enter the string : ")
print(str.replace(" ",""))

Enter the string : Ahmed Say Hello
AhmedSayHello

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
str = input("Enter the string : ")
x = len(str)

print(int(x*(x+1)/2))

Enter the string : abc
6

**21-write a Python program to swap first and last element of any list.

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
  x = input("Enter element: ")
  A.append(x)
A[0],A[-1] = A[-1],A[0]

print(A)

Enter number of elements: 5
Enter element: A
Enter element: ms
Enter element: 2
Enter element: 6
Enter element: 3
['3', 'ms', '2', '6', 'A']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.

(Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
  x = input("Enter element: ")
  A.append(x)
c = int(input("pos1 = "))
d = int(input("pos2 = "))
A[c],A[d] = A[d],A[c]

print(A)

Enter number of elements: 4
Enter element: 19
Enter element: 65
Enter element: 23
Enter element: 90
pos1 = 1
pos2 = 3
['19', '90', '23', '65']

**23- search for the all ways to know the length of the list

In [ ]:
from collections import Counter

A = ["Messi","Hamada tolba","ibrahim said","Mohamed abotreka","cr7"]
list_len = sum(Counter(A).values())

print(list_len)

5

In [ ]:
A = ["Messi","Hamada tolba","ibrahim said","Mohamed abotreka","cr7"]

s = 0
for i, a in enumerate(A):
    s += 1
print(s)

5

In [ ]:
A = ["Messi","Hamada tolba","ibrahim said","Mohamed abotreka","cr7"]
length = sum(1 for _ in A)

print(length)

5

In [ ]:
A = ["Messi","Hamada tolba","ibrahim said","Mohamed abotreka","cr7"]
list_len = sum(1 for i in A)

print(list_len)

5

In [ ]:
from operator import length_hint

A = ["Messi","Hamada tolba","ibrahim said","Mohamed abotreka","cr7"]
list_len_hint = length_hint(A)

print(list_len_hint)

5

In [ ]:
A = ["Messi","Hamada tolba","ibrahim said","Mohamed abotreka","cr7"]
counter = 0
for i in A:
  counter += 1

print(counter)

5

In [ ]:
A = ["Messi","Hamada tolba","ibrahim said","Mohamed abotreka","cr7"]

print(len(A))

5

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
  x = int(input("Enter element: "))
  A.append(x)

print(max(A))

Enter number of elements: 5
Enter element: 1
Enter element: 2
Enter element: 3
Enter element: 5
Enter element: 4
5

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
  x = int(input("Enter element: "))
  A.append(x)

print(min(A))

Enter number of elements: 5
Enter element: 1
Enter element: 2
Enter element: 3
Enter element: 0
Enter element: 5
0

**26-search for if an elem is existing in list

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
  x = input("Enter element: ")
  A.append(x)

elem = input("Enter the elem you serching for : ")

if elem in A:
  print("exest")
else:
  print("doesnt exest")

Enter number of elements: 5
Enter element: 12
Enter element: asd
Enter element: 36
Enter element: 59
Enter element: aerf
Enter the elem you serching for : 36
exest

**27- clear python list using different ways

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
  x = input("Enter element: ")
  A.append(x)

print(A)

del A[:]
print(A)

Enter number of elements: 5
Enter element: 1
Enter element: 2
Enter element: 3
Enter element: 4
Enter element: asd
['1', '2', '3', '4', 'asd']
[]

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
  x = input("Enter element: ")
  A.append(x)

print(A)
A.clear()
print(A)

Enter number of elements: 5
Enter element: as
Enter element: 5
Enter element: dwe
Enter element: 561
Enter element: 616s
['as', '5', 'dwe', '561', '616s']
[]

**28-remove duplicated elements from a list

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
    x = input("Enter element: ")
    A.append(x)

un_duplicated_element = []

for element in A:
  if element not in un_duplicated_element:
    un_duplicated_element.append(element)

A = un_duplicated_element
print(A)

Enter number of elements: 5
Enter element: 1
Enter element: oerifho
Enter element: 1
Enter element: iuei
Enter element: oerifho
['1', 'oerifho', 'iuei']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
test_list = ["Gfg", 3,'is', 8]

key_list = ["name","id"]

keys_and_values = [{key_list[0]:test_list[0],key_list[1]:test_list[1]},{key_list[0]:test_list[2],key_list[1]:test_list[3]}]

print(keys_and_values)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]

unique_values = set(my_list)

count = len(unique_values)

print(count)

5

In [ ]:
A = [1, 2, 2, 3, 4, 4, 5]

unique_values = []
for i in range(len(A)):
  if A[i] not in unique_values:
    unique_values.append(A[i])

count = len(unique_values)

print(count)

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]

repeated_characters = {}
frequency = int(input("Enter the frequency : "))
for i in test_list:
  if i in repeated_characters:
    repeated_characters[i] +=1
  else:
    repeated_characters[i] =1

s = list(repeated_characters.keys())
c = list(repeated_characters.values())
x = []

for key,value in repeated_characters.items():
  if value > frequency:
        x.append(key)

print(x)

Enter the frequency : 3
[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
    x = int(input("Enter element: "))
    A.append(x)

for i in range(N):
  if A[i] < A[i+1]:
    A.remove(A[i])
    break

for i in A:
  print(i,end=" ")

Enter number of elements: 6
Enter element: 1
Enter element: 2
Enter element: 2
Enter element: 3
Enter element: 4
Enter element: 5
2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
digits = [1, 2, 3]

for i in range(3):
    for j in range(3):
        for k in range(3):
            if i != j and i != k and j != k:
                print(digits[i], digits[j], digits[k],end=" ## ")

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition
(Input: test_list = [1,2,3]
Output:[1], [1, 2], [1, 2, 3], [1, 3]
[2], [2, 3], [3])

In [ ]:
test_list = [1, 2, 3]

combinations = []

for i in range(len(test_list)):
    sublist = []
    for j in range(i, len(test_list)):
        sublist.append(test_list[j])
        combinations.append(sublist.copy())

for combo in combinations:
    print(combo,end=" ")

[1] [1, 2] [1, 2, 3] [2] [2, 3] [3]

In [ ]:
test_list = [1, 2, 3]
combinations = []

for i in range(len(test_list)):
    for j in range(i + 1, len(test_list) + 1):
        combinations.append(test_list[i:j])

for combo in combinations:
    print(list(combo),end= " ")

[1] [1, 2] [1, 2, 3] [2] [2, 3] [3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list_1 = ["a","b"]
list_2 = [1,2]
new_list = []
for i in list_1:
  for j in list_2:
        if i != j :
          new_list.append((i, j))
new_list[1],new_list[2] = new_list[2],new_list[1]
new_list[1],new_list[3] = new_list[3],new_list[1]
res_1 = new_list[:2]
res_2 = new_list[2::]


print([(res_1)]+[(res_2)])

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
A = [ 1 , 1 , 3 , 4 , 5 , 1 ,4 ,1]
repeated_characters = {}

for i in A:
  if i in repeated_characters:
    repeated_characters[i] +=1
  else:
    repeated_characters[i] =1

s = list(repeated_characters.keys())
c = list(repeated_characters.values())

max_frequency = max(repeated_characters.values())


most_frequent_elements = [key for key, value in repeated_characters.items() if value == max_frequency]

while most_frequent_elements[0] in A:
    A.remove(most_frequent_elements[0])
M = " ".join(map(str,A))
print(M)

3 4 5 4

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [3]:
original_list_1 = ["Gfg","is","best"]
original_list_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

for i in range(len(original_list_2)):
  if original_list_2[i] == 0:
    original_list_2[i] = original_list_1[0]
  elif original_list_2[i] == 1:
    original_list_2[i] = original_list_1[1]
  else:
    original_list_2[i] = original_list_1[2]

print(original_list_2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [26]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
k = int(input("enter the number you searching for : "))
n = int(input("Enter the number of occurrences : "))
res = []
for tup in test_list:
    count = 0
    for element in tup:
        if element == k:
            count += 1
    if count == n:
       res.append(tup)

print(res)

enter the number you searching for : 5
Enter the number of occurrences : 2
[(4, 5, 5, 4)]

In [27]:
test_list = [(4,5,5,4),(5,4,3)]
k = int(input("enter the number you searching for : "))
n = int(input("Enter the number of occurrences : "))
res = []

for tup in test_list:
  count = 0
  for j in tup:
    if j == k:
      count += 1
  if count == n:
    res.append(tup)

print(res)

enter the number you searching for : 5
Enter the number of occurrences : 3
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [34]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

array.sort(key=lambda x: x[0])
print("Sorted array specific to column 0:", array)

array.sort(key=lambda x: x[1])
print("Sorted array specific to column 1:", array)

array.sort(key=lambda x: x[2])
print("Sorted array specific to column 2:", array)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [38]:
input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}


sorted_items = sorted(input_dict.items())
sorted_dict_by_key = dict(sorted_items)

print(sorted_dict_by_key)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [36]:
d = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
k = 7
key_found = None
key_removed = []

for key,value in d.items():
  if isinstance(value,int) and value >= k:
    key_removed.append(key)
for key in key_removed:
  del d[key]
print(d)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic1.update(dic2)
dic1.update(dic3)

print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {1:"Ahmed",2:"Say",3:"today is the day"}

for key,value in d.items():
    print(key,'-->',value)

1 --> Ahmed
2 --> Say
3 --> today is the day

**44- Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {1:"Ahmed", 2:"say"}
d2 = {3:"why", 4:"123"}
d1.update(d2)
print(d1)

{1: 'Ahmed', 2: 'say', 3: 'why', 4: '123'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [40]:
d = {1: 1, 2: 4, 3: 9, 4: 16}
l = list(d.values())


max_value = max(l)
min_value = min(l)

print(max_value)
print(min_value)

16
1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [43]:
d = {'c1': 'Red', 'c2': 'Green', 'c3': None}

keys_to_remove = []

for key, value in d.items():
    if value is None:
        keys_to_remove.append(key)

for key in keys_to_remove:
    del d[key]

print(d)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [41]:
t = (4,3,1,2)

print(t[1])

3

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
t = (1,2,3)

a,b,c = t

print(a)
print(b)
print(c)

1
2
3

**49-Write a Python program to add an item to a tuple

In [ ]:
t = (1,2,3)

x = int(input())

new = t+(x,)

print(new)

4
(1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [ ]:
t = (1,2,3)

x = "".join(map(str,t))

print(type(x),x)

<class 'str'> 123

**51-Write a Python program to convert a list to a tuple

In [ ]:
l = [1,2,3,4,5]

t = tuple(l)

print(t)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [ ]:
t = (1,2,3,4,5)
print(t[::-1])

(5, 4, 3, 2, 1)

In [ ]:
t = (1,2,3,4,5)

l = list(t)
n = list(reversed(l))

m = tuple(n)

print(m)

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [4]:
sample_value = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_sample_value = []

for tup in sample_value:
    modified_tup = []
    for value in tup:
        if value == tup[-1]:
            modified_tup.append(100)
        else:
            modified_tup.append(value)
    new_sample_value.append(tuple(modified_tup))

print(new_sample_value)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [6]:
original_str = "python 3.0 <class 'str'>"

original_tup = tuple(original_str)

print(original_tup)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0', ' ', '<', 'c', 'l', 'a', 's', 's', ' ', "'", 's', 't', 'r', "'", '>')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [7]:
tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

total_sum = 0
total_count = 0

for tup in tuple_of_tuples:
    for number in tup:
        total_sum += number
        total_count += 1

if total_count > 0:
    average = total_sum / total_count
else:
    average = 0

print(average)

5.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
s = {1,2,3}

s.add(4)

s.update([5,6])

print(s)

{1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [12]:
original_list = [ 1 , 2 , 5 , 4 , 5 , 6 , 7 , 8 ]

k = int(input())

new_list = []

for item in original_list:
    if item != k:
        new_list.append(item)

original_list = new_list

print(original_list)

5
[1, 2, 4, 6, 7, 8]

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection = set1.intersection(set2)

union = set1.union(set2)

difference_1 = set1.difference(set2)
difference_2 = set2.difference(set1)

symmetric_difference_1 = set1.symmetric_difference(set2)

print(intersection)
print(union)
print(difference_1)
print(difference_2)
print(symmetric_difference_1)

{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{1, 2, 6, 7}

**59-Write a Python program to find the maximum and minimum values in a set

In [17]:
s = { 1 , 2 , 3 , 4 , 5 }

maximum = max(s)
minimum = min(s)

print(maximum)
print(minimum)

5
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [1]:
A = []
N = int(input("Enter number of elements: "))

for i in range(N):
    x = int(input("Enter element: "))
    A.append(x)


target_sum = int(input("Enter the target sum : "))

pairs = []

for i in range(len(A)):
    for j in range(i + 1, len(A)):
        if A[i] + A[j] == target_sum:
            pairs.append((A[i], A[j]))

if pairs:
    print("Pairs with sum", target_sum, "are:", pairs)
else:
    print("No pairs found with sum", target_sum)

Enter number of elements: 5
Enter element: 2
Enter element: 6
Enter element: 4
Enter element: 3
Enter element: 8
Enter the target sum : 10
Pairs with sum 10 are: [(2, 8), (6, 4)]