# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [4]:
np.random.seed(42)
series1 = pd.Series(np.random.randint(1, 5, size=100))
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001,size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [5]:
df1 = pd.DataFrame(series1)
df2 = pd.DataFrame(series2)
df3 = pd.DataFrame(series3)

In [ ]:
# one way
df1 = pd.DataFrame({'Column_1': series1})
df2 = pd.DataFrame({'Column_2': series2})
df3 = pd.DataFrame({'Column_3': series3})

df = pd.concat([df1, df2, df3], axis=1)

In [7]:
# other way
df = pd.DataFrame({'Column_1': series1, 'Column_2': series2, 'Column_3': series3})
df.sample(3)

    Column_1  Column_2  Column_3
62         1         1     12911
11         3         1     17526
55         4         1     27043

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [8]:
df.rename(columns={'Column_1': 'bedrs', 'Column_2': 'bathrs', 'Column_3': 'price_sqr_meter'}, inplace=True)
df.sample(3)

    bedrs  bathrs  price_sqr_meter
58      3       3            16546
73      2       2            18155
94      2       2            28639

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [15]:
df['bigcolumn'] = (df['bedrs']+df['bathrs']+df['price_sqr_meter'])
df.sample()

    bedrs  bathrs  price_sqr_meter  bigcolumn
98      2       1            22183      22186

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [19]:
df.tail(3)

    bedrs  bathrs  price_sqr_meter  bigcolumn
97      4       1            16295      16300
98      2       1            22183      22186
99      1       2            22874      22877

In [21]:
df.shape

(100, 4)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [34]:
df = pd.concat([df1, df2, df3], axis=0,ignore_index=True)
df.shape

(300, 1)

In [35]:
df.tail(3)

         0
297  16295
298  22183
299  22874